.icon {
    position: relative;
    width:16px;
    height:16px;
    margin: 16px;
    }
    
    .icon-plus {
    background-color: #000;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    width: 16px;
    height: 16px;
    position: relative;
    top:0;
    left:0;
    }
    .icon-plus:after {
    background-color: #fff;
    width: 8px;
    height: 2px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    position: absolute;
    top:7px;
    left: 4px;
      content:"";
    }
    .icon-plus:before {
    background-color: #fff;
    width: 2px;
    height: 8px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    position: absolute;
    top:4px;
    left: 7px;
      content:"";
    }
    
    .icon .name {
    width: 32px;
    position: absolute;
    text-align: center;
    top: 18px;
    left: -8px;
    }
    
    .tableclass{
      border-collapse:separate; 
       border-spacing:0 15px;  
    }
    
    .inputclass{
       float:left;
     
    }
    
    .NB {
     color: gray;
     font-style: italic;  
    }
    
    tr {
      border: solid;
      border-width: 1px 0;
    }
    
    .fullcard{
        width: 245px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-top: 100px;
        margin-left: 200px;
        padding: 50px;
      
    }
    .cardText {
    margin-bottom: 30px;
    }
    
    .cardContent{
     padding: 10px;
    }
    
    .longtext{
      width: 150px;
      height: 100px;
     
      
    }
    
    .links {
      color:#519e8a;
    }
    
    #thumbnail {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }
    
    
    
    .Transferbutton {
      background-color: #519e8a;
      color: #fff;
      border: 2px solid #fff;
      width: 100%;
      margin-top: 1em;
      padding: 8px 0px;
      font-size: 1em;
      font-weight: lighter;
      letter-spacing: 1px;
      margin-bottom: 0.25em;
      
    }